/* styles.css */
body {
  align-items: center;
  background-color: hsl(210, 17%, 91%);
  display: flex;
  margin: 0;
  font-family: "Outfit", serif;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  /* width: 100%; */
}
.card {
  background-color: rgb(240, 233, 233);
  border-radius: 15px;
  box-shadow: 0 10px 40px hsl(220, 15%, 55%);
  padding: 14px;
  top: 25%;
  text-align: center;
  width: 375px;
}
#qr {
  border-radius: 5px;
  width: 91%;
}
#logo{
  height: 10%;
  width: 30%;
  margin-top: 20px;
}
.upi {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.upi > img {
  padding: 5px;
}
h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}
p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  padding: 15px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
